{% extends "quoteapp/base.html" %} {% block content %}

<form action="{% url 'users:signup' %}" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <div class="row">
        <div class="form-group col-xs-3">
            <label class="form-label">Username</label>
            <div>{{ form.username }}</div>
        </div>
        {% if form.errors.username %}
        <span class="text-warning"><small>{{ form.errors.username }}</small></span>
        {% endif %}
    </div>

    <div class="row">
        <div class="form-group col-xs-3">
            <label class="form-label"> Email:</label>
            <div>{{ form.email }}</div>
        </div>
        {% if form.errors.email %}
        <span class="text-warning"><small>{{ form.errors.email }}</small></span>
        {% endif %}
    </div>

    <div class="row">
        <div class="form-group col-xs-3">
            <label class="form-label">Password</label>
            <div>{{ form.password1 }}</div>
        </div>
        {% if form.errors.password1 %}
        <span class="text-warning"><small>{{ form.errors.password1 }}</small></span>
        {% endif %}
    </div>
    <div class="row">
        <div class="form-group col-xs-3">
            <label class="form-label">Confirm password</label>
            <div>{{ form.password2 }}</div>
        </div>
        {% if form.errors.password2 %}
        <span class="text-warning"><small>{{ form.errors.password2 }}</small></span>
        {% endif %}
    </div>
    <input type="submit" value="Login" class="btn btn-primary">

</form>

{% endblock %}